body{
  margin: 0;
  overflow: hidden;
}


.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #00f5a0, #00d9f5);
  font-family: "Segoe UI", sans-serif;
}

.sidebar {
  width: 240px;
  background: #0f2027;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #d0fefe;
  font-weight: 500;
}

.nav-links a:hover {
  color: white;
}

.logout-btn {
  padding: 10px;
  border: none;
  background: #00f5a0;
  color: #111;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topbar {
  height: 70px;
  background: rgba(174, 11, 11, 0);
  display: flex;
  align-items: center;
  font-size: x-large;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 2px 8px rgba(186, 15, 15, 0.156);
}

.role-badge {
  background: #8d0de8f9;
  color: #f9ffff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.content-area {
  flex: 1;
  padding: 40px;
  background: #f9ffff;
  overflow-y: auto;
}

.dashboard-page {
  width: 100%;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.stat-card p {
  color: #666;
  margin-bottom: 10px;
}

.stat-card h2 {
  font-size: 28px;
  color: #0f2027;
}